<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/12.5/phpunit.xsd"
         backupGlobals="false"
         cacheDirectory=".cache/phpunit"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Fixtures Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
